<app-nav></app-nav>

<div class="container-fluid">
<div class="card mat-card" id="first-class">
  <div class="profile-background"><img class="img-fluid banner" src="../assets/banner.jpg" alt="Banner">
  </div>
<div class="info" style="padding: 16px">
  <div class="info-image">
      <img class="profile-image" src="../assets/foto-perfil.png" alt="Foto de Perfil">
      <div class="fapen1">
          <a href="#">
          <i class="fa fa-pen"></i>
          </a>
      </div>
  </div>
  <div class="info-data">
      <h1>Cristian Faviero</h1>
      <div>Estudiante de Analista en Sistemas</div>
      <div>
          <span>Ciudad de Posadas (Misiones, Argentina)</span>
          <span>Información de Contacto</span>
      </div>
  </div>
  <div class="info-actions">
      <button type="button" class="btn btn-primary">Intereses</button>
      <button type="button" class="btn btn-secondary">Añadir Sección</button>
      <button type="button" class="btn btn-info">Más</button>
  </div>
</div>    
</div>

<div class="card mat-card" id="second-card">
  <div class="row">
  <div class="col">
      <h2>Acerca de</h2>
      <div class="detalles"><p>Estudiante de programación y analista en sistemas</p></div>
  </div>
  <div class="col">
      <a href="#">
        <i class="fa fa-pen" id="confgpen"></i>
      </a>
  </div>
  </div>
</div>

<div class="card mat-card" id="third-card">
  <div class="row">
  <div class="col">
      <h2>Experiencia</h2>
      <div class="detalles">
        <p>Sistemas, Sanatorio Privado</p>
    </div>
  </div>
  <div class="col">
    <a href="#">
      <i class="fa fa-pen" id="confgpen"></i>
    </a>
</div>
  </div>
      
  <hr>
  <div class="row">
    <div class="col">
      <h2>Educación</h2>
      <div class="detalles">
        <p>Estudiante de Analista en Sistemas</p>
        <p>Curso Desarrollador Full Stack (en Curso)</p>
      </div>
    </div>
    <div class="col">
        <a href="#">
          <i class="fa fa-pen" id="confgpen2"></i>
        </a>
    </div>
  </div>

  <hr>
  <div class="row">
    <div class="col">
      <h2>Educación</h2>
      <div class="detalles">
        <p>Estudiante de Analista en Sistemas</p>
        <p>Curso Desarrollador Full Stack (en Curso)</p>
      </div>
    </div>
    <div class="col">
        <a href="#">
          <i class="fa fa-pen" id="confgpen2"></i>
        </a>
    </div>
  </div>
  
</div>
</div>